{% set privatekey = lookup('file', 'jenkins.fresh') %}
json={
  "": "0",
  "credentials": {
    "scope": "GLOBAL",
    "id": "{{jenkins_ssh_slave_credentials}}",
    "username": "{{jenkins_slave_username}}",
    "password": "",
    "privateKeySource": {
      "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource",
      "privateKey": "{{privatekey}}",
    },
    "description": "apicredentials",
    "stapler-class": "com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey"
  }
}
